<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guitar Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="css/shops.css" type="text/css" />
</head>

<body>
    <header class="nav-container">
        <nav class="nav">
            <img src="img/logo.png" alt="" />
            <ul>
                <a href="/"><li>Shops</li></a>
                <a href="/chords"><li>Chords</li></a>
                <a href="/login"><li>Login</li></a>
            </ul>
        </nav>
    </header>
</body>

</html>