<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/shops.css" type="text/css" />
    <link rel="shortcut icon" href="../assets/logo.png" type="image/png">
</head>
<body>
    <%- include('nav.ejs', {level: level, username: username}) -%>

    <center>
        <br>
        <% if (Fail && Fail.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= Fail %>
            </div>
        <% } %>
    
        <form method="post" action="/updateRole">
            <div class="box">
                <p> เปลี่ยน Role User </p>
                <input type="text" id="username" name="username" placeholder="username">
                <select name="role" id="role">
                    <option value="" disabled selected>Role user</option>
                    <option value="user">user</option>
                    <option value="admin">admin</option>
                </select> <br>
                <input type="submit" value=" OK ">
            </div>
        </form>
        <br><hr>
        <form method="post" action="/createGuitar" enctype="multipart/form-data">
            <div class="box">
                <p> เพิ่ม Guitar </p>
                <input type="text" id="guitarname" name="guitarname" placeholder="guitarname"> <br>
                <input type="text" id="price" name="price" placeholder="price" pattern="[0-9]{1,7}"> <br>
                <input type="text" id="detail" name="detail" placeholder="detail"> <br>
                <input type="file" id="guitarURL" name="guitarURL"> <br>
                <input type="submit" value=" OK ">
            </div>
        </form>
        <br><hr>
        <form method="post" action="/updateGuitar">
            <div class="box">
                <p> แก้ไขข้อมูล Guitar </p>
                <input type="text" id="guitarname" name="guitarname" placeholder="guitarname"> <br>
                <input type="text" id="new_guitarname" name="new_guitarname" placeholder="new guitarname"> <br>
                <input type="text" id="price" name="price" placeholder="price" pattern="[0-9]{1,7}"> <br>
                <input type="text" id="detail" name="detail" placeholder="detail"> <br>
                <input type="submit" value=" OK ">
            </div>
        </form>
        <br><hr>
        <form method="post" action="/deleteGuitar">
            <div class="box">
                <p> ลบ Guitar </p>
                <input type="text" id="guitarname" name="guitarname" placeholder="guitarname"> <br>
                <input type="submit" value=" OK ">
            </div>
        </form>
        <br><hr>
        <form method="post" action="/createChord" enctype="multipart/form-data">
            <div class="box">
                <p> เพิ่ม Chord </p>
                <input type="text" id="chordname" name="chordname" placeholder="chordname"> <br>
                <input type="file" id="datachord" name="datachord"> <br>
                <input type="submit" value=" OK ">
            </div>
        </form>
        <br><hr>
        <form method="post" action="/deleteChord">
            <div class="box">
                <p> ลบ Chord </p>
                <input type="text" id="chordname" name="chordname" placeholder="chordname"> <br>
                <input type="submit" value=" OK ">
            </div>
        </form>
        <br>
    </center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>