<header class="nav-container">
    <nav class="nav">
        <img src="../assets/logo.png" alt="" class="logo" />
        <ul>
            <% if (level=='user' ) { %>
                <a href="/"><li>Shops</li></a>
                <a href="/chords"><li>Chords</li></a>
                <a href="/logout"><li><%= username %><img src="../assets/logout.svg" alt="Logout Google Icon" class="logout_btn"></li></a>
            <% } else if (level=='admin' ) { %>
                <a href="/"><li>Shops</li></a>
                <a href="/chords"><li>Chords</li></a>
                <a href="/management"><li>Management</li></a>
                <a href="/logout"><li><%= username %><img src="../assets/logout.svg" alt="Logout Google Icon" class="logout_btn"></li></a>
            <% } else { %>
                <a href="/"><li>Shops</li></a>
                <a href="/chords"><li>Chords</li></a>
                <a href="/login"><li>Login</li></a>
            <% } %>
        </ul>
    </nav>
</header>


