<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guitar Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/cs2?family=Kanit:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="css/shops.css" type="text/css" />
    <link rel="shortcut icon" href="../assets/logo.png" type="image/png">
</head>

<body>
    <%- include('nav.ejs', {level: level, username: username}) -%>
    <article class="main-shop">
        <div class="containner">
            <% for (var i = 0; i < shops.length; i++) { %>
            <a href="/guitar_detail/<%= shops[i].id_guitar %>" class="item-link">
                <div class="item-container">
                <img src="pictures/<%= shops[i].guitarURL %>" alt="">
                <p><%= shops[i].guitarname %></p>
                <button>Buy</button>
            </a>
            </div>
            <% } %>
        </div>
    </article>
</body>
</html>