.kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Kanit', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

.nav-container {
    margin-top: 20px;
}

.nav {
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.nav .logo {
    margin-left: 100px;
    width: 70px;
    height: 70px;
}

.nav ul {
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav ul a {
    border-bottom: 2px solid white;
    font-size: larger;
    text-decoration: none;
    color: black;
    transition: .3s;
    display: flex;
    align-items: center;
}

.shop_btn {
    width: 50px;
    height: auto;
}

.nav ul a .logout_btn {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.nav ul a:hover {
    border-bottom: 2px solid #f5c475;
    text-decoration: none;
    color: black;
}

.nav ul a li {
    display: flex;
    align-items: center;
}

/* Shop */

.main-shop {
    margin-top: 100px;
}

.item-link {
    text-decoration: none;
    color: inherit;
    display: contents;
    /* This makes the <a> tag behave like its contents, allowing the grid layout to be preserved */
}

.containner {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Adjust the width and minimum width of each column as needed */
    gap: 20px;
    /* Adjust the gap between items as needed */
}

.item-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.item-container img {
    max-width: 100%;
    height: auto;
}

.item-container p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.item-container button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.item-container button:hover {
    background-color: darkorange;
}